$proyect-font: "Roboto", sans-serif;   


//COLORES

$color-piel: #e9d6d6;
$color-celeste: #a2deec;
$color-gris-oscu: #07b5bb00;
$color-sangre: #361800;
$color-negro:#000000;
$color-violeta: #6738d3;
$color-azul: #0056b3;
$color-marronclaro: #d1bc8f;
$color-claro: #aa9974;
$color-blanco: #ffffff;
